* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 390px;
  height: auto;
}

.header {
  background-color: #E4D8CF;
  height: 90px;
}

.header .logo p {
  color: #FFF;
}

.header .main-header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.header-search {
  text-align: center;
  margin-top: 5px;
}

.header .header-search span {
  background-color: white;
  text-decoration: none;
  color: #aaaaaa;
  padding: 5px;
  border-radius: 10px;
}

.header .header-search .a {
  border: none;
  width: 250px;
  font-size: 10px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.profile .profile-img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-right: 30px;
}
.profile .profile-text h4 {
  margin-bottom: 10px;
}
.profile .profile-text p {
  color: #9F9F9F;
  font-size: 12px;
  margin-bottom: 10px;
}

.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.infos .info {
  background-color: #AAACA1;
  border-radius: 5px;
  margin-right: 20px;
  padding: 5px 20px;
}
.infos .info a {
  color: #FFF;
  text-decoration: none;
  font-size: 12px;
}
.infos .history {
  background-color: #AAACA1;
  border-radius: 5px;
  padding: 5px 40px;
}
.infos .history a {
  color: #FFF;
  text-decoration: none;
  font-size: 12px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.images .image1 {
  margin-right: 20px;
}
.images .image1 .img1 img {
  width: 130px;
  height: 160px;
  object-fit: cover;
  border-radius: 5px;
}
.images .img2 img {
  width: 130px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}
.images .img3 img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
}
.images .img4 img {
  width: 130px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}